@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Sua conta contém dados pessoais que você nos forneceu. Esta página permite que você baixe ou exclua esses dados.</p>
        <p>
            <strong>A exclusão desses dados removerá permanentemente sua conta e não poderá ser recuperada.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="btn-group">
            <button class="btn btn-primary" type="submit">Baixar</button>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Excluir</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
