@model InfnetMVC.Models.Departamento

@{
    ViewData["Title"] = "Create";
}

<br />
<div>
    <h1 class="h2 text-center">Inserir Departamento</h1>
</div>
<hr />
<br />

<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Nome" class="form-control" />
                <label asp-for="Nome" class="form-label"></label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Local" class="form-control" />
                <label asp-for="Local" class="form-label"></label>
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group d-grid gap-2">
                <input type="submit" value="Inserir" class="btn btn-success" />
            </div>
            <div class="form-group d-grid gap-2">
                <a class="btn btn-outline-primary" asp-action="Index">Voltar</a>
            </div>
            
        </form>
    </div>
</div>


